/* This module is responsible for all the layout - Mobile first*/
body {
    background: #FFF;
    margin: 0;
    padding: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
ul li {
    
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.bbc-logo {
    display: block;
    width: 200px;
    margin: 20px auto;
}

.app-wrapper {
    position: relative;
    min-height: 415px;
    overflow: hidden;
}

.media-block {
    cursor: pointer;
    background-color: #EEE;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
    position: relative;

    h1 {
        font-size: 2.0rem;
        padding: 10px 0;
    }

    .source-duration {
        margin-bottom: 10px;
    }

    .icons-wrapper {
        overflow: hidden;
    }

    .icon-audio,
    .icon-video,
    .icon-add-favourites {
        display: block;
        background-size: 100%;
        width: 40px;
        height: 40px;
        text-indent: -99999px;
    }

    .icon-add-favourites {
        background-image: url(../images/icon_add_to_favourites.png);
        float: right;
    }

    .icon-audio {
        background-image: url(../images/icon_audio.png);
        float: left;
    }

    .icon-video {
        background-image: url(../images/icon_video.png);
        float: left;
    }
}

.page {
    width: 728px;
    float: left;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.pagination {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;

    li {
        display: inline-block;
    }
}

.pages-wrapper {
    overflow: hidden;
    @include transition(all .4s ease);
    @include transform(translateX(0));
}

@media only screen and (min-width: $breakpoint-tablet) {
    .app-wrapper {
        width: 728px;
        margin: 20px auto;
    }
}

@media only screen and (min-width: $breakpoint-desktop) {
    
}